.card {
  height: 100%;
  width: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #735bf2; 
  color: #fff;

  margin-bottom: 20px;
  padding: 24px;
  border-radius: 8px;
}

.card strong {
  font-size: 18px;
}
